In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [2]:
df=pd.read_csv('C:/Users/Guru Kiran/Downloads/score.csv')

In [3]:
df.head(10)

   Hours  Scores
0    2.5    21.0
1    5.1    47.0
2    3.2    27.0
3    8.5    75.0
4    3.5    30.0
5    1.5    20.0
6    9.2    88.0
7    5.5    60.0
8    8.3    81.0
9    2.7    25.0

In [4]:
df.shape

(25, 2)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Hours   25 non-null     float64
 1   Scores  23 non-null     float64
dtypes: float64(2)
memory usage: 532.0 bytes

In [6]:
df.isnull().sum()

Hours     0
Scores    2
dtype: int64

In [7]:
df=df.dropna()

In [8]:
df.isnull().sum()

Hours     0
Scores    0
dtype: int64

In [9]:
y=df['Scores']
x=df.drop('Scores',axis=1)

In [10]:
xt,x_test,yt,y_test=train_test_split(x,y,test_size=0.2,random_state=7)

In [11]:
xt.head()

    Hours
12    4.5
11    5.9
0     2.5
23    6.9
6     9.2

In [12]:
x_test.head()

    Hours
1     5.1
5     1.5
2     3.2
24    7.8
21    4.8

In [13]:
xt.shape,x_test.shape

((18, 1), (5, 1))

In [14]:
yt.shape,y_test.shape

((18,), (5,))

In [15]:
yt.head()

12    41.0
11    62.0
0     21.0
23    76.0
6     88.0
Name: Scores, dtype: float64

In [16]:
y_test.head()

1     47.0
5     20.0
2     27.0
24    86.0
21    54.0
Name: Scores, dtype: float64

In [17]:
li=LinearRegression()
model=li.fit(xt,yt)

In [18]:
y_pred = model.predict(x_test)

In [19]:
y_pred

array([52.2791269 , 17.45451777, 33.89947208, 78.39758376, 49.37707614])

In [20]:
y_pred=model.predict(x_test)
df=pd.DataFrame({'y_test':y_test,'y_pred':y_pred})
print(df)

    y_test     y_pred
1     47.0  52.279127
5     20.0  17.454518
2     27.0  33.899472
24    86.0  78.397584
21    54.0  49.377076

In [21]:
print(mean_squared_error(y_test,y_pred))

32.22390668036796